.form-container{
    padding: 20px;
    width: 400px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 56, 21);
    border-radius: 10px;
    box-shadow: 3px 2px 2px 5px rgb(255, 133, 63);
}
.form-title{
    font-size: 36px;
    font-weight: 700;
    color: white;
}
.form-control label{
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    color: white;
}
.form-control input{
    width: 350px;
    height: auto;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-submit{
    width: 345px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(31, 156, 0);
}
.btn-submit:hover{
    background-color: rgb(24, 255, 43);
    cursor: pointer;
}