.background-img-register img{
    height: fit-content;
    width: 100%;
    object-fit: cover;
}
.margin{
    margin-bottom: 120px;
}

@media screen and (max-width: 640px) {
    .background-img-register img{
        height: 100vh;
    }
}