.img img{
    width: 100%;
    height: 600px;
    margin-top: -5px;
    object-fit: contain;

}
.mySwiper{
    width: 600px;
    height: 600px;
    padding: 30px;
}

@media screen and (max-width: 640px) {
    .mySwiper{
        height: 200px;
        margin-left: 70px;
    }
    .img img{
        width: 400px;
        height: 280px;
        margin: 0;
    }
}